.header {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #fff;
}

.header.isTitle{
    background:#5a67d8;
}

.header.hasbg{
    margin-bottom: 1rem;
}

/* Back Button */
.back-button {
    font-size: 20px !important;
    font-weight:bold;
    color: #4C2BBD;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: auto; /* Pushes back button to the left */
    gap: 0.5rem; /* Adds consistent spacing between arrow and text */
    padding:0;
}

.back-button:hover{
    background-color: transparent;
}

.back-button .arrow {
    font-size: 1.1rem; /* Proper size for the arrow */
}

/* Filter Button */
.filter-button {
    font-size: 0.9rem;
    color: #333;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto; /* Ensures filter button stays on the right */
    gap: 0.5rem; /* Adds consistent spacing between icon and text */
}

.filter-button i {
    font-size: 1rem; /* Optional adjustment for icon size */
}
