.recording-footer {

}

/* Stage 3-specific layout */
.recording-footer.stage-3-layout {
    flex-direction: column; /* Stacks items for Stage 3 */
    align-items: center;
}

/*Shared across both layouts*/
.record-left-contnet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 100px;
}

.record-button {
    background: linear-gradient(120deg, #95D470, #007C5E);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-top:1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.record-icon {
    color: white;
    font-size: 3rem;
}

.recording-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin: .2rem 0 .3rem;
    padding:0;
}

.student-dropdown {
    font-size: 1rem;
    font-weight:bold;
    padding: 0.3rem;
    border: 1px solid #AFB4D1;
    border-radius: 20px;
    color:#5F45C9;
    width: 100%; /* Full width for readability */
    max-width: 240px; /* Limit width for dropdown */
    text-align: center;
    position: relative; 
}

/* Thinking Habits Overview alignment */
.thinking-habits-overview {
    margin: 0.5rem 0; /* Add some vertical spacing */
}



/* Stage 2 specific styles */
.stage-2-container {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    margin: 0;
}

.recording-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: .7rem;
}

.recording-setup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}



.recording-helper-text {
    font-size: 1rem;
    color: #666;
    margin: 0 .8rem;
    text-align:left;
    line-height:1.3rem;
}


/* Stage 3 specific styles */
.stage-3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem .5rem .5rem ; /* Padding for internal spacing */
}

/* Profile picture and dropdown */
.recording-student-info {
    display: flex;
    flex-direction: column; /* Stack profile and details */
    align-items: center;

}

.recording-profile-picture img{
    margin:1rem;
    border-radius:160px;
    max-width:120px;
    vertical-align: top;
}

.recording-current-time {
    font-size: .9rem;
    font-weight:bold;
    color: #000;
}

/* Controls section */
.stage-3-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.stage-3-container .thinking-habits-overview {
    margin: 1rem 0; /* Add some vertical spacing */
}

.recording-instructions {
    width:60%;
    font-size: 1.6rem;
    text-align: center;
}

.record-timer {
    font-size: 2rem;
    color: #333;
    margin:0; padding:0;
}

.record-meta {
    font-size: 0.9rem;
    color: #666;
}
