
div.veear{
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100%; /* Ensure the div takes full height of the parent */
    text-align: center; /* Align text content */
}

/*VR Stage 1*/
.vr_recording-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}

.vr_record-button {
    background: linear-gradient(120deg, #95D470, #007C5E);
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-top:1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.vr_record-button:hover{
    background-color:#51763A;
    border-bottom: 5px solid #51763A;
}
.vr_record-button.active {
    background: linear-gradient(120deg, #FFD233, #FF6A00);
}
.vr_record-icon {
    color: white;
    font-size: 3rem;
}

/*VR Stage 2*/
.vr_record-button.active .vr_record-icon {
    content: '\f04c' ;
}
.vr_record-timer {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}
.vr_progress-container {
    align-items: center;
    margin: 0  0  2rem;
    width: 100%;
    max-width: 300px; /* Limit the width of the progress bar */
    position:relative;
}
.vr_progress-bar {
    height: 8px; 
    background-color: #e0e0e0; /* Background track color */
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.vr_progress {
    height: 100%;
    width: 0%; /* Starts empty */
    background-color: #4caf50; /* Progress bar color (green) */
    border-radius: 5px;
    transition: width 0.1s linear; /* Smooth progress update */
}
.vr_timer-remaining {
    font-size: 0.77rem;
    text-align: center;
    line-height:.9rem;
    margin-top:.2rem;
}
.vr_timer-remaining span:first-child {
    font-weight: bold;
    display:inline-block;
    margin-right:5px;
}

.vr_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
}

/* Waveform */
.veear.stage_2,
.veear.stage_3,
.veear.stage_4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Allow full-width child elements */
}

.vr_waveform-container {
    width: 100%; /* Span the full width of the parent container */
    height: 90px; /* Adjust height as needed */
    display: block; /* Ensure it behaves as a block element */
    position:relative;
}
.vr_waveform-container.paused::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    top: 50%; /* Position at the vertical center */
    left: 0;
    width: 100%; /* Full width of the container */
    height: 2px; /* Thickness of the line */
    background-color: black; /* Black line color */
    transform: translateY(-50%); /* Align exactly in the center */
}

/*Recording Stage 3*/
.vr_stop-button {
    background: linear-gradient(120deg, #E30000, #B00040);
    color: white;
    border: none;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.vr_restart-button {
    background: linear-gradient(120deg, #FFD43B, #FF7300);
    color: white;
    border: none;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.vr_stop-button:hover{
    background: linear-gradient(120deg, #E30000, #B00040);
}
.vr_restart-button:hover{
    background: linear-gradient(120deg, #FFD43B, #FF7300);
}

.vr_stop-button .vr_record-icon,
.vr_restart-button .vr_record-icon{
    font-size:1.5rem;
}


/*Recording Stage 4*/
.veear.stage_4 .vr_stop-button{
    visibility:hidden;
}
.veear.stage_4 .finalize .vr_restart-button{
    border-radius:10px;
}

.vr_buttons.finalize {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
    gap: 1rem; 
    width:70%;
    margin-bottom:2rem;
}

.vr_submit-button {
    color: #5f45c9;
    margin: .5rem 0 0;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #fff;
    padding: .2rem .5rem;
    border-radius: 20px;
    text-align: center;
    border: 1.5px solid #AFB4D1;
    box-shadow: 0 0 3px #85859e;
    width: 100%;
}



.vr_previews {
    width: 100%;
    color:#5F45C9;
    border-radius: 8px;
    padding: 0.5rem;
    box-shadow: 0 1px 3px #85859e;
}

.vr_previews h4{
    text-align:left;
    margin:0;
}


.vr_audio-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.vr_audio-container:first-child{
}

.vr_previews audio{
    width:100%;
}
.vr_delete-button:hover,
.vr_delete-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #f44336;
}

.vr_delete-button i{
    color:#5F45C9;
    font-size:1.5rem;
    margin-top:0;
}
